<footer class="page-footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">ARTICLE MANAGEMENT</h5>
                <p class="grey-text text-lighten-4">Article Management System(AMS) is one of the most popular management system which is used to manage Millions of article all over the world. I am just kidding. This is just a small project created using Spring Framework with Thymeleaf as a template engine. Thanks havea </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">ALL YOU CAN KNOW</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About US</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact US</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Policy</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Developer Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Powered By KVSVR KSHRD</a>
        </div>
    </div>
</footer>