<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Hanuman' rel='stylesheet'>
<style>
    body {
        font-family: Hanuman;
    }
    .error{
        color: red;
    }
    label{
        margin-top: 10px;
        font-weight: bold;
    }
    li.isActive a {
        background-color: purple !important;
    }
    li.isActive a {
        color: #fff;
    }
    nav#header, .page-footer{
        background-color: #a869f3;
    }
    nav#pagination {
        background-color: #fff;
    }
    .pagination li.active a {
        background-color: purple;
    }
    .pagination li.active {
        background-color: #fff
    }
    tr a input {
        padding: 0 10px !important;
    }
</style>
